# Fichiers système
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dossiers de configuration
.android/
.anydesk/
.cache/
.clamtk/
.codeium/
.config/
.cursor/
.dotnet/
.gnome/
.gnupg/
.gradle/
.java/
.local/
.mozilla/
.npm/
.pgadmin/
.pki/
.pm2/
.ssh/
.var/
.vnc/
.vscode*/
.windsurf/

# Fichiers personnels
*.mkv
*.mp3
*.docx
*.dotx
*.zip
node_modules/
Images/
Musique/
Vidéos/
Bureau/
Téléchargements/
AndroidStudioProjects/
Applications/
VirtualBox VMs/

# Fichiers spécifiques
*.ovpn
*.crt
